<!DOCTYPE html>
<html>
  <head>
    <title>ProjectReact</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'index_react' %>
  </head>

  <div class="container">
    <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    </body>
  </div>
</html>
